<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <h2>{{ site.title}}</h2>
        <ul class="contact-list">
          {% if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif %}
        </ul>
      </div>
      <div class="social-media-list">
        <li>
          <a href="https://x.com/0daySecured" target="_blank"><img src="https://about.twitter.com/content/dam/about-twitter/x/brand-toolkit/logo-black.png.twimg.1920.png" height="40px" width="40px"></a>
        </li>
        <li>
          <a href="https://www.instagram.com/realmehulpanchal" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png" height="40px" width="40px"></a>
        </li>
        <li>
          <a href="https://www.github.com/0daySecured" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/800px-GitHub_Invertocat_Logo.svg.png" height="40px" width="40px"></a>
        </li>
      </div>
    </div>
  </div>

</footer>
